/*----------  DEFAULTS  ----------*/

:root {
  --primary-pink: #eb008b;
  /* Original Pink */
  /* --secondary-pink: #ed458b; */
  /* preferable pink for aria puposes level AA */
  --secondary-pink: #ef4d8f;
  --dark-background: #404041;
  --button-background: #929497;
  --primary-soft-white: #e6e7e8;
  --primary-disabled-color: #d0d2d3;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*----------  HEADER  ----------*/

.header {
  text-align: center;
  background-color: var(--dark-background);
  padding: 2rem;
}

.header__heading {
  font-size: 6rem;
  color: var(--primary-soft-white);
  font-weight: 300;
}

.header__heading--pink,
.section-2__text--pink {
  color: var(--secondary-pink);
  font-weight: 700;
}

/*----------  MAIN  ----------*/

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*----------  SECTION 1  ----------*/

.section-1 {
  margin: 4rem auto 7rem;
}

form input[type='number'] {
  margin: 0 auto;
  display: block;
  color: #757575;
  width: 50rem;
  margin-bottom: 3rem;
  height: 4.3rem;
  font-size: 2rem;
  padding: .5rem;
  outline: #757575;
}

form input[role='button'] {
  margin: 0 5rem;
}

.btn {
  font-size: 3rem;
  display: inline-block;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background: var(--button-background);
  color: #fff;
  font-weight: 100;
  border: 0;
  height: 4.5rem;
  width: 20rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.2s all ease-in-out;
  text-align: center;
}

input[role='button']:disabled,
button:disabled {
  background: var(--primary-disabled-color);
  cursor: not-allowed;
  text-align: center;
}

.btn:hover(not:disabled) {
  background: var(--primary-pink);
}

/*----------  SECTION 2  ----------*/

.section-2 {
  margin-bottom: 3rem;
  font-size: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-2__text--paragraph {
  font-size: 3.5rem;
}

.section-2__text--guess {
  height: 1.7em;
  font-weight: 300;
  font-size: 25rem;
  color: var(--primary-pink);
}

.section-2 span {
  text-overflow: ellipsis;
}

.reset-btn {
  width: 50rem;
}

#range-guess,
#announcement {
  height: 3vh;
  margin-bottom: 3rem;
}

#announcement {
  display: block;
  margin-bottom: 1rem;
}

#number-guess {
  height: 1.7rem;
  vertical-align: center;
}